        /**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
        @import url('https://fonts.googleapis.com/css?family=Montserrat|Rajdhani|Russo+One|Shadows+Into+Light');

        div.timer-body {
            display: flex;
            flex-flow: row wrap;
        }

        div.timer-header{
            border-bottom: 1px solid #fff;
            margin-bottom: 10px;
        }

        .timer-header h2 {
            font-size: 28px;
            color: #FFF;
            text-transform: uppercase;
            font-family: 'Rajdhani', sans-serif;

        }


        div.timer-section {
            display: flex;
            border-radius: 7px;
            flex-flow: column wrap;
            align-items: center;
            background-color: rgb(54, 156, 171);
            width: 97%;
            margin: 0 auto;
            margin-bottom: 23px;
            justify-content: stretch;
            padding: 15px 0px;
            -webkit-box-shadow: 0px 3px 15px -1px #715757;
            box-shadow: 0px 3px 6px -1px #715757;
        }

        div.timer-days,
        div.timer-hours,
        div.timer-minutes,
        div.timer-seconds {
            margin: 4px;
            background-color: rgb(255, 255, 255);
            padding: 0px 15px;
            text-align: center;
            padding-top: 16px;
            border-radius: 5px;
            -webkit-box-shadow: 0px 3px 15px -1px #715757;
            box-shadow: 0px 1px 3px 0px #715757;
            font-family: 'Rajdhani', sans-serif;


        }

        div.timer-body h1 {
            font-size: 1.3em;
            color: #0a0000;
            margin-bottom: 0px;
            border-bottom: 1px solid #000;
            font-family: 'Orbitron', sans-serif;

        }



        div.timer-body .cst-timer-description {
            color: #000000;
            font-size: 0.8em;
            font-style: italic;
            text-transform: lowercase;
        }

        div.timer-footer {
            margin-top: 17px;
        }

        div.timer-footer h4 {
            text-align: center;
            font-family: 'Rajdhani', sans-serif;
            font-size: 1.1em;
            color:#FFF;
            font-weight: 500;
        }



        /*FOMO PRODUCT LISTING SECTION*/

        .fomo-header-title{
            font-size: 2.0em;
            border-bottom: 2px solid;
            font-family: 'Rajdhani', sans-serif;
        }

        .fomo-product-rows {
            display: flex;
            flex-flow: row wrap;
        }

        div.fomo-product-row {
            display: flex;
            flex-flow: column wrap;
            flex: 1 1 40%;
            margin: 14px 10px;
            align-items: center;
            background-color: #efefef;
            padding: 8px;
        }



        button.fomo-add-to-cart-button {
            background-color: #1d6a88;
            font-family: 'Rajdhani', sans-serif;
            padding: 0.1em 1.2em;
            border-radius: 4px;
            transition: all 0.3s;
            color:#FFF;
            margin-right: 0;

        }

        button.fomo-add-to-cart-button:hover {
            box-shadow: 0px 0px 1px 1px #b19595;
            background-color: #000000;
        }


        div.fomo-product-row {
            display: flex;
            flex-flow: column wrap;
            flex: 1 1 40%;
            margin: 15px 5px;
            align-items: center;
            background-color: #ffffff;
            padding: 10px 2px;
            -webkit-box-shadow: 0px 3px 15px -1px #715757;
            box-shadow: 0px 1px 1px 0px #cccccc;
            transition: all 0.1s ease-out 0.1s;
        }

        div.fomo-product-row:hover {

            -webkit-box-shadow: 0px 20px 3px 1px #b1b1b1;
            box-shadow: 0px 20px 3px 1px #b1b1b1;
        }


        .fomo-product-title {
            text-align: center;
            font-size: 0.9em;
            margin-top: 20px;
        }

        .fomo-product-title a{
            font-family: "Helvetica Neue", helvetica, arial, sans-serif;
            transition: all 0.1s ease-out 0.1s;

        }


        span.fomo-percent-off {
            color: #1d6a88;
            font-weight: bold;
            font-size: 1.1em;
        }

        .fomo-product-rows .fomo-product-row img.fomo-product-image{
            max-width: 54%;
            min-width: 20%;
            min-height: auto;
            margin: 0 auto;
            max-height: max-content;
            -webkit-box-shadow: 0 0 0 8px #fff0;
            box-shadow: 0 0 0 8px #fff0;
            transition: all 0.1s ease-out 0.1s;

        }


        .fomo-product-rows .fomo-product-row img.fomo-product-image:hover {
            max-width: 62%;
            min-width: 20%;
        }
        .fomo-product-rows .fomo-product-row .fomo-product-title a {
            color: #000;
            font-weight: bold;
            box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 0);
            text-decoration: none;
        }


        .fomo-add-to-cart, .fomo-product-price {
            margin-top: -0.4em;
        }

        .fomo-product-rows .fomo-product-row .fomo-product-price p {
            font-weight: bold;
            color: #000;
        }

        .fomo-single-product {
            text-align: center;
        }


        .fomo-product-section {
            margin: 0px;
            font-size: 16px;
        }



        /*MOBILE MEDIA QUERIES*/

        /* Extra small devices (phones, 600px and down) */
        @media only screen and (max-width: 600px) {
            div.fomo-product-row {
                display: flex;
                flex-flow: column wrap;
                flex: 1 1 100%;
                margin: 15px 5px;
                align-items: center;
                background-color: #ffffff;
                padding: 10px 2px;
                -webkit-box-shadow: 0px 3px 15px -1px #715757;
                box-shadow: 0px 1px 1px 0px #cccccc;
                transition: all 0.1s ease-out 0.1s;
            }

            div.fomo-product-row:hover {

                -webkit-box-shadow: 0px 20px 3px 1px #b1b1b1;
                box-shadow: 0px 20px 3px 1px #b1b1b1;
            }

            .timer-header h2 {
                font-size: 22px;
                color: #FFF;
                text-transform: uppercase;
                font-family: 'Rajdhani', sans-serif;
                text-align: center;
            }


            div.timer-days, div.timer-hours, div.timer-minutes, div.timer-seconds {
                margin: 1px;
                background-color: rgb(255, 255, 255);
                padding: 0px 15px;
                text-align: center;
                padding-top: 13px;
                border-radius: 5px;
                -webkit-box-shadow: 0px 3px 15px -1px #715757;
                box-shadow: 0px 1px 3px 0px #715757;
                font-family: 'Rajdhani', sans-serif;
            }

        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {


        }